<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>

<body>
    <video id="video" autoplay></video>
    <canvas id="canvas" style="display:none;"></canvas>
    <button id="capture">Capture</button>
    <select name="Select Camera" id="cameras"></select>

    <p id="names"></p>

    <script>
        navigator.mediaDevices.enumerateDevices()
            .then(devices => {
                const videoDevices = devices.filter(device => device.kind === 'videoinput');

                var cameras = document.getElementById("cameras");

                videoDevices.forEach(device => {
                    const deviceId = device.deviceId;
                    const name = device.label || "Unknown";
                    cameras.innerHTML += `<option value="${deviceId}">${name}</option>`
                });
            })
            .catch(error => {
                console.error('Error enumerating devices: ', error);
            });

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const captureButton = document.getElementById('capture');

        var selectedDeviceId = document.getElementById("cameras").innerText;
        console.log(selectedDeviceId)

        navigator.mediaDevices.getUserMedia({
            video: { deviceId: selectedDeviceId ? { exact: selectedDeviceId } : undefined, }
        })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Error accessing camera: ', error);
            });

        captureButton.addEventListener('click', function () {
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Convert the captured image to base64
            const capturedImageBase64 = canvas.toDataURL('image/jpeg');

            // Send the image to the Flask server
            fetch('/upload', {
                method: 'POST',
                body: JSON.stringify({ imageBase64: capturedImageBase64 }),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the Flask server, which should contain the NumPy array.
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error sending image to server: ', error);
                });
        });

    </script>
</body>

</html>